[submodule "projects/svelte-add/adders/3d"]
	path = projects/svelte-add/adders/3d
	url = https://github.com/svelte-add/3d
[submodule "projects/svelte-add/adders/bootstrap"]
	path = projects/svelte-add/adders/bootstrap
	url = https://github.com/svelte-add/bootstrap
[submodule "projects/svelte-add/adders/bulma"]
	path = projects/svelte-add/adders/bulma
	url = https://github.com/svelte-add/bulma
[submodule "projects/svelte-add/adders/coffeescript"]
	path = projects/svelte-add/adders/coffeescript
	url = https://github.com/svelte-add/coffeescript
[submodule "projects/svelte-add/adders/imagetools"]
	path = projects/svelte-add/adders/imagetools
	url = https://github.com/svelte-add/imagetools
[submodule "projects/svelte-add/adders/mdsvex"]
	path = projects/svelte-add/adders/mdsvex
	url = https://github.com/svelte-add/mdsvex
[submodule "projects/svelte-add/adders/postcss"]
	path = projects/svelte-add/adders/postcss
	url = https://github.com/svelte-add/postcss
[submodule "projects/svelte-add/adders/routify"]
	path = projects/svelte-add/adders/routify
	url = https://github.com/svelte-add/routify
[submodule "projects/svelte-add/adders/sass"]
	path = projects/svelte-add/adders/sass
	url = https://github.com/svelte-add/sass
[submodule "projects/svelte-add/adders/scss"]
	path = projects/svelte-add/adders/scss
	url = https://github.com/svelte-add/scss
[submodule "projects/svelte-add/adders/storybook"]
	path = projects/svelte-add/adders/storybook
	url = https://github.com/svelte-add/storybook
[submodule "projects/svelte-add/adders/tailwindcss"]
	path = projects/svelte-add/adders/tailwindcss
	url = https://github.com/svelte-add/tailwindcss
[submodule "projects/svelte-add/adders/tauri"]
	path = projects/svelte-add/adders/tauri
	url = https://github.com/svelte-add/tauri
[submodule "picocss"]
	path = picocss
	url = https://github.com/svelte-add/picocss
