[submodule "projects/svelte-add/adders/postcss"]
	path = projects/svelte-add/adders/postcss
	url = https://github.com/svelte-add/postcss
[submodule "projects/svelte-add/adders/tailwindcss"]
	path = projects/svelte-add/adders/tailwindcss
	url = https://github.com/svelte-add/tailwindcss
[submodule "projects/svelte-add/adders/mdsvex"]
	path = projects/svelte-add/adders/mdsvex
	url = https://github.com/svelte-add/mdsvex
